<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- EL CONTROLADOR ES INSTANCIADO AUTOMATICAMENTE POR EL SPRING-SERVLET --> 
	<bean id="conexionHibernate" class="dao.ConfigHibernate" init-method="abrirConexion" destroy-method="cerrarSession" scope="singleton">
	</bean>
	

	<!-- INSTANCIAS DE LOS SERVICIOS PARA QUE USEN EL CONTROLADOR --> 
	<bean id="movimientoService" class="service.MovimientoService" scope="singleton"> 
		<property name="movimientoDao" ref="movimientoDao"></property> 
		<property name="cuentaService" ref="cuentaService"></property> 
		<property name="transferenciaService" ref="transferenciaService"></property> 
	</bean>
	
	<bean id="cuentaService" class="service.CuentaService" scope="singleton"> 
		<property name="cuentaDao" ref="cuentaDao"></property> 
	</bean>

	<bean id="clienteService" class="service.ClienteService" scope="singleton"> 
		<property name="clienteDao" ref="clienteDao"></property> 
	</bean>
			
	<bean id="usuarioService" class="service.UsuarioService" scope="singleton"> 
		<property name="usuarioDao" ref="usuarioDao"></property> 
		<property name="usuarioLogueado" ref="usuarioLogueado"></property> 
	</bean>
	
	<bean id="transferenciaService" class="service.TransferenciaService" scope="singleton"> 
		<property name="transferenciaDao" ref="transferenciaDao"></property> 
	</bean>
	
	

	<!-- INSTANCIAS DE LOS OBJETOS DAO PARA QUE USEN LOS SERVICIOS  --> 
	<bean id="clienteDao" class="dao.ClienteDao" scope="singleton"> 
		<property name="ch" ref="conexionHibernate"></property> 
	</bean>

	<bean id="cuentaDao" class="dao.CuentaDao" scope="singleton"> 
		<property name="ch" ref="conexionHibernate"></property> 
	</bean>

	<bean id="movimientoDao" class="dao.MovimientoDao" scope="singleton"> 
		<property name="ch" ref="conexionHibernate"></property> 
	</bean>	

	<bean id="usuarioDao" class="dao.UsuarioDao" scope="singleton"> 
		<property name="ch" ref="conexionHibernate"></property> 
	</bean>	
	
	<bean id="transferenciaDao" class="dao.TransferenciaDao" scope="singleton"> 
		<property name="ch" ref="conexionHibernate"></property> 
	</bean>	
	
	
	
	<bean id="usuarioLogueado" class="entidades.Usuario" scope="singleton"></bean>	
	
	
	<!-- INSTANCIAS DE LA DATABASE PARA QUE USEN LOS DAO  --> 

<!-- OTROS EJEMPLOS DE BEANS

		
	<bean id="ProvinciaBsAs" class="frgp.utn.edu.ar.entidad.Provincia">
		<property name="nombre" value="Bs. As."></property>
	</bean>


	<bean id="PaisArgentina" class="frgp.utn.edu.ar.entidad.Pais">
		<property name="nombre" value="Argentina"></property>
		<property name="listaProvincias">
			<list>
				<ref bean="ProvinciaBsAs"/>
				<ref bean="ProvinciaSantaFe"/>
				<ref bean="ProvinciaEntreRios"/>
			</list>
		</property>
	</bean>
	


	<bean id="PersonaPepe" class="frgp.utn.edu.ar.entidad.Persona" init-method="initPersona"  destroy-method="cerrarSession" scope="singleton">
	
	<constructor-arg index="0" type="String" value="Pepe"></constructor-arg> 	
		<constructor-arg index="1" type="String" value="Casas"></constructor-arg> 

		<property name="dni" value="3333333"></property>
		<property name="pais" ref="PaisArgentina"></property>	
	</bean>
 -->	
</beans>
